spring.config.import: "configserver:, classpath:application-openapi.yml"

spring:
  application.name: ms-product
  cloud.config:
    failFast: true
    retry:
      initialInterval: 3000
      multiplier: 1.3
      maxInterval: 10000
      maxAttempts: 20
    uri: http://localhost:8888
    username: ${CONFIG_SERVER_USR}
    password: ${CONFIG_SERVER_PWD}
  banner:
    location: classpath:banner-local.txt
---
spring.config.activate.on-profile: docker

spring.cloud.config.uri: http://config-server:8888